body{
    background-color: gray;
}
/* Header */
header{
    background-color:rgb(190, 190, 255);
}
#headerh1{
    color: blue; 
    font-family: sans-serif;
    font-size: 100px;
    text-shadow: 5px 5px 4px red, -5px -5px 4px red;
    text-align: center;
    margin-top: 4px;
}
#namefield{
    align-items: center;
}
#infobutton{
    background-color:rgb(0, 255, 242); 
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}
/* Main */
#section1{
    align-items: baseline;
}
#syoulink{
    margin-left: 10px;
}
#husky1{
    margin-left: 100px;
    padding: 10px;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: yellow;
    box-shadow: 3px 3px 5px black, -3px -3px 5px black;
    margin-right: auto;
    margin-left: auto;
}
/* Footer */
footer{
    background-color:rgb(204, 204, 255);
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
}
.maillink{
    padding: 2px;
}
