body{
    background-color: black;
}
/* Header */
header{
    background-color: rgb(80, 80, 80);
    margin-left: auto;
    margin-right: auto;
}
/* Main */
#donotclickbutton{
    font-size: 25px; 
    border-radius: 25px; 
    background-color: rgb(255, 0, 0); 
    color:black;
}
#infor{
    color: white
}
/* Footer */
footer{
    background-color: rgb(80, 80, 80);
    margin-left: auto;
    margin-right: auto;
}
