body{
    background-color: black;
}
header{
    background-color: rgb(80, 80, 80);
}
#headerh1{
    margin-left: 400px;
    font-size: 50px;
    color: white;
}
#donotclickbutton{
    margin-right: 300px;
    font-size: 25px; 
    border-radius: 25px; 
    background-color: rgb(255, 0, 0); 
    color:black
}
footer{
    background-color: rgb(80, 80, 80);
}
#infosub{
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}
