body{
    background-color: black;
}
/* Header */
hr{
    height: 2px;
}
header{
    background: linear-gradient(90deg blue, black blue);
}
h1{
    text-align: center;
    font-size: 50px;
    color: ghostwhite;
}
/* Main */
/* Put button in div if not center */
.button{
    font-size: 25px; 
    border-radius: 20px; 
    background-color: rgb(255, 0, 0); 
    color:black;
    margin-left: auto;
    margin-right: auto;
}
p{
    color: white
}
/* Footer */
footer{
    background-color: rgb(80, 80, 80);
    text-align: center;
}
a{
    color: black;    
}
